.main-container {
    
    header {
        margin-top: env(safe-area-inset-top);
        padding-top: 0.5rem !important;
    }

    footer {
        margin-bottom: env(safe-area-inset-bottom);
    }

    input, textarea {
        font-size: 16px;
    }
}