nav {

    .mantine-Paper-root {
        border-left: 0px !important;
        border-right: 0px !important;
        border-top: 0px !important;
        margin-top: 0px !important;
        border-radius: 0;

    }
}